<html ng-app="TestApp">
<head>
<title>the MEAN stack</title>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
</head>
<body ng-controller ="MainController as vm">
    <script src="/assets/js/app.js"></script>
</body>
</html>