<html>
<head>
    <link href = "assets/style.css" type = "text/css" rel="stylesheet" />
</head>   
<body>
 <h2> Welcome to the Express train to JS!</h2>
 <form method="POST" action="/person">
 <div>
    <input type="text" id="name" name="username" />
    </div>
    <div>
        <button type="submit">post!</button>
        </div>
 </form>
</body> 
</html>
    